body {
  background-color: rgb(255, 255, 255);
}

/*  css codes for header part*/

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.header-list-container > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 20px;
}

.header-list-container > ul > li {
  padding: 5px;
  margin: 5px;
}

/*  css codes for Body part*/
.res-Container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Card-Container {
  width: 220px;
  padding: 10px;
  background-color: rgb(221, 221, 221);
  margin: 10px;
}

.main-food-banner {
  width: 200px;
  height: 120px;
}

div.Card-Container:hover {
  border: 1px solid grey;
}

.filter-btn{
  background-color: rgb(255, 255, 255);
border-style: none;
font-size: 20px;
  font-weight: 500;

}
.filter-btn:hover{
  border-bottom: 1px solid black;
}

.login-btn{
  background-color: rgb(197, 197, 197);
  width: 100px;
  border-style: none;
}

/* shimmer Ui */
.shimmer-Warp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Shimmer-card-Container{
background-color: rgb(133, 133, 133);
width: 220px;
height: 300px;
margin: 10px;
}

.shimmer-img-area{
  margin: 15px;
  background-color: rgb(143, 142, 142);
  border: 1px solid rgb(117, 117, 117);
  height: 90px;
}